body { 
    font-family: Tahoma, Arial, sans-serif;
    font-size: 10pt;
}

.new {
    display: inline-block;
    font-size: 8px;
    padding: 2px;
    background-color: #87ab13;
    color: white;
    border-radius: 2px;	
    position: relative;
    top: -1px;
}

#tabs .tab span.new {
    height: 1.3em;
    line-height: 1.3em;
    top: 14px;
    padding: 2px;
    background: #87ab13 none;
}

/* img link */

.img-link {
    position: relative;
    display: inline-block;
}

.img-link .banner {
    display: none;
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 10px;
    xheight: 40px;
    background-color: #1d1d1d;
    box-sizing: border-box;
    padding: 10px 10px;
    font-size: 12px;
    font-weight: bold;
    opacity: 0.7;
    text-align: center;
}

.img-link:hover .banner {
    display: inherit;
}

a.img-link {
    opacity: 0.5;
    color: #fff;
    text-decoration: none;
}

a.img-link:hover {
    opacity: 1;
}


/* old */
.table-front a img { box-shadow: 2px 2px 10px rgba(0,0,0,0.2); border: 0px none; }    
.table-front { table-layout: fixed; border: 0px none; position: relative; left: -200px; margin-left: 
                   
                   
                   
                   
                   
                   ; margin-top: 20px; }
.table-front td { width: 290px; vertical-align: top; }


.list-front { position: relative; left: -200px; margin-left: 20px; margin-top: 20px;}
.list-front div { display: inline-block; width: 290px; vertical-align: top; margin-bottom: 20px; }
.list-front a img { box-shadow: 2px 2px 10px rgba(0,0,0,0.2); border: 0px none; }


/* mobile */

p#claim {
    margin-bottom: 10px;
}
.menu-title {
    display: none;
}
@media only screen and (max-width: 1000px) {
    #container {
        display: flex;
        flex-direction: column;
    }
    body #left {
        order: 1;

        float: none;
        width: auto;
        margin-left: 0px;
        margin-top: 20px;
    }
    body #content {
        order: 0;

        margin-left: 0px;
    }

    body .list-front {
        left: 0px;
    }

    body .menu .menu-title {
        display: block;
        background-color: #00305D;
        color: #fff;
        padding: 15px 5px;
        margin-bottom: 5px;
        position: relative;

        border-radius: 2px;
    }

    .menu-title-icon {
        display: inline-block;
        float: right;
        margin-right: 10px;
    }
    .menu-body {
        display: none;
    }
    body .menu .header {
        margin-bottom: 5px;
    }
    #container .menu a {
        border: 1px solid #ccc;
        padding: 10px 5px;
        margin-bottom: 5px;
        border-radius: 2px;
    }
    #container .menu .selected {
        padding-left: 10px;
    }

    #tabs {
        white-space: nowrap;

    }
    .tabs-items {
        overflow-x: auto;
    }
    body #tabs .tab span {
        width: auto;
    }
}

@media only screen and (max-width: 440px) {
    body #logo {
        font-size: 18px;
    }
}
