﻿p, body, td { font-family: Tahoma, Arial, Sans-Serif; font-size: 10pt; }
body { padding: 0px; margin: 0px; background-color: #ffffff; }
a { color: #1155a3; }

/* COMMON */
.hidden { display: none; }
.padded { padding: 10px; }
.space { margin: 10px 0px 10px 0px; }

/* form */
#f input[type="text"] { width: 270px; }

/* COLUMNS */
#container { width:100% }
#left { float:left; width: 180px; margin-left: 2px; }
#content { margin-left: 200px;}
#content > div { width:99% }

/* LAYOUT */
/*#header { background: #001328 url('layout/header.png') 0 0 repeat-x; padding-left: 10px;}*/
/*#header .bg-help { background: url('layout/header-in.png') 50% 0 no-repeat; padding:1px 0; width:100%; min-height:80px;}*/
#header { background: #003267; background: linear-gradient(to right, #011329 0%,#00639e 44%,#011329 100%); padding-left: 10px;}
#header .bg-help { padding:1px 0; width:100%; min-height:80px;}

#main { padding: 0px 5px 0px 5px;  }
#download { padding: 10px 0px 0px 
            ; color: #666666; background: url('layout/main.png') 0 0 repeat-x; }
	
/* LOGO & CLAIM */
#logo { font-size:24px; color:#fff; margin:10px 0 0; font-weight:bold; line-height:1.3;}
#logo a { color:#fff; text-decoration:none; }
#claim { color:#fff; margin:0;}

/* MENU */
.menu a { font-weight: normal; display: block; text-align: left; text-decoration: none; font-size: 10pt; color: #333333; padding: 1px 0px 1px 2px; border: 1px solid #fff; }
.menu .selected { padding: 0px 0px 0px 10px; background: url('layout/li.png') 2px 50% no-repeat; }
.menu a:hover  { border: 1px solid #aaaaaa; background-color: #eeeeee; }
.menu .header { font-weight: bold; padding: 1px 0px 1px 2px; }

/* BUTTON */
.inline-btn { display: -moz-inline-block; display:inline-block; height:34px; background:url('layout/btn/all.png') 0 -600px no-repeat; vertical-align:middle; text-decoration:none; padding:0;}
.inline-btn span, .inline-btn input { height:34px; display: -moz-inline-block; display:inline-block; background:url('layout/btn/all.png') 100% -700px no-repeat; line-height:34px; border:none; padding:0 10px; font-weight:bold; color:#fff;  cursor:pointer; font-size:117%; vertical-align: top; overflow: visible;  margin: 0;}

/* TABS */
#tabs { margin-top: 10px; padding: 10px 0px 0px 0px; width: 100%; }
#tabs > div { padding-left: 15px; xborder-bottom: 1px solid #bfbfbf; }

#tabs a:hover { color: #666; }
#tabs a.selected :hover { color: #fff;}

#tabs .tab { text-decoration: none; font-size: 110%; color: #000; vertical-align: middle; display: -moz-inline-block; display:inline-block; height: 40px; }
#tabs .tab span { padding: 0px 10px; height: 40px; line-height: 40px; display: -moz-inline-block; display:inline-block; vertical-align: top; overflow: visible; width: 100px; text-align: center; }

#tabs .selected { background: url(layout/tab-left.png) 0 0 no-repeat; height: 40px; overflow-y: visible; color: #fff; font-weight: bold; }
#tabs .selected span { background: url(layout/tab-right.png) 100% 0; background-repeat: no-repeat; xborder-bottom: 1px solid #003367; }

#tabs .header { background-image: url(layout/toolbar2.png); background-color: #013f7c; height: 40px; line-height: 40px; vertical-align: middle; xborder: solid #bfbfbf; xborder-width: 0px 1px 1px 1px; padding-left: 10px; color: #fff; }

#container {background: url('layout/main.png') 0 0 repeat-x; padding-top: 20px; }
